body {
    margin: 0;
    font-family: faustina;
}

header {
    background-color: rgb(167, 167, 167);
    text-align: center;
    align-items;
    width: 100%;
    height: 10%;
    padding: 10px 0;
}

h3 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    color: black;
}

#profilbild {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#description {
    font-size: 24px;
    padding: 5px 0;
}

.columns {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
}

.experiences {
    background-color: rgb(167, 167, 167);
    padding: 10px;
    border-radius: 5%;
    min-width: 30%;
    max-width: 40%;
    margin: 0 5% 0 5%;  
    color: rgb(255, 255, 255); 
}

ul {
    padding: 2px 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 3px 10px;
    padding: 0;
}


.object {
    text-align: center;
    background-color: rgb(58, 58, 58);
    width: 80%;
    margin: 5% auto;
    border-radius: 50px;
    padding: 5px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}